<!-- views/admin/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <% include('admin/header') %>  
  <div class="container">
    <h2>Welcome, Admin</h2>
    <p>Manage sports and sessions</p>
    <a href="/admin/createSport" class="button">Create Sport</a>
    <p>View sports</p>
    <a href="/admin/sportlistBase" class="button">View Sports</a>
    <p>View reports</p>
    <a href="/admin/view-report" class="button">View Reports</a>
  </div>
  <% include('../footer') %>
</body>
</html>
